/fonts
/gp
/mu-plugins
/languages
/upgrade
/uploads
index.php
debug.log
/plugins/ajax*
/plugins/akismet*
/plugins/classic*
/plugins/conekta*
/plugins/duplicate*
/plugins/email*
/plugins/lite*
/plugins/loco*
/plugins/mail*
/plugins/manteni*
/plugins/mini*
/plugins/tax*
/plugins/woo*
/plugins/index.php
/themes/tw*